* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    margin: auto;
    width: 100%;
    font-size: 5rem;
    color: white;
}

h1 span {
    /* color: #6495ed; */
    color: white;
}

#name {
    /* color: #0bda51; */
    color: #6495ed;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

#nav_buttons a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

#nav_buttons a:hover {
    color: #6495ed;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 3rem;
    }

    #nav_buttons a {
        font-size: 1.25rem;
    }
}

/* @media screen and (max-width: 650px) {
    h1 {
        font-size: 2rem;
    }

    #nav_buttons a {
        font-size: 1rem;
    }
} */

@media screen and (max-width: 650px) {
    h1 {
        font-size: 3rem;
    }

    h1 span {
        display: block;
        width: 100%;
        text-align: center;
    }

    #nav_buttons {
        display: block;
    }

    #nav_buttons a {
        display: block;
        font-size: 2rem;
        min-width: 100%;
        text-align: center;
    }
}
